.App {
  background: url("../../media/star-background.jpg");
  background-size: 40%;
  text-align: center;
}

button {
    font-size: 18px;
    padding: 10px 30px;
    background: #ffd54e;
    border: 3px solid #ffd54e;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      outline: #4bd5ee auto 5px;
    }

    &:active {
      background: #967f36;
    }

    &:focus {
      outline: #4bd5ee auto 5px;
    }
  }